{{ form_start(get_keywordUsers_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'get-keywordUsers-ajax'|default('form')} }) }}
{{ form_end(get_keywordUsers_form_ajax) }}

{{ form_start(get_videosPerKeywordUsers_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'get-videosPerKeywordUsers-ajax'|default('form')} }) }}
{{ form_end(get_videosPerKeywordUsers_form_ajax) }}

{{ include('@Datamining/Default/storeDatamining.html.twig') }}

<div id="btnDataminingBundle" class="animatedButton" style="position: absolute; top: 0px; right: 0px; z-index: 5;">
    <img id='searchIconButton_image' src="files/images/icons/presentation/datamining.png" alt="Mountain View">
</div>
                    


<div id="dataminingSongs_profile2" data-id1=0> {#data-id1 amount list#}
    
</div>

<script>
    function DataminingBundle()
    {
        var dataminingSongs_profile2 = document.getElementById("dataminingSongs_profile2");
        dataminingSongs_profile2.innerHTML = "";
        $('#dataminingSongs_profile2').data('id1', 0);
        
        var keywordsAmount_value = $('#dataminingSongs_profile2').data('id1');
        get_KeywordUsers(keywordsAmount_value);
        keywordsAmount_value+=10;
        $('#dataminingSongs_profile2').data('id1', keywordsAmount_value);
    }
    
    
    $('#btnDataminingBundle').click(function () {
        document.getElementById("contentDataminigBundle").style.display = "none";
        document.getElementById("contentListBundle").style.display = "block";
    });
    
    function get_KeywordUsers(keywordsAmount_value) {#CRUD FUNCTION#}
    {
        var form = $('#get-keywordUsers-ajax');
        var url = form.attr('action');

        $.post(url, {keywordsAmount_value: keywordsAmount_value}, function (data)
        {
            var amountKeywords = data[0].amountKeywords;
            
            {#document.getElementById("dataminingSongs_profile2").innerHTML = "";#}
            
            for (i=0; i<amountKeywords; i++)
            {
                var keywordId = data[i].keywordId;
                var keywordContent = data[i].keywordContent;
                var keyworduserScore = data[i].keyworduserScore;
                var amountKeywords = data[i].amountKeywords;
                var userId = data[i].userId;
                var useripId = data[i].useripId;
                
                addKeywordList(keywordId, keywordContent, keyworduserScore);
                {#get_Videos_KeywordUsers(keywordId, keywordContent);#}
            }
        }).fail(function () {
            alert('ERROR get-keywordUsers-ajax');
        });
    }
    
    function addKeywordList(keywordId, keywordContent, keyworduserScore) {#GUI FUNCTION#}
    {
        $("#dataminingSongs_profile2").append(
            
        "<div id='listByDatamining" + keywordId + "' class='listByDatamining'>"+
                
            "<div id='list_listByDatamining" + keywordId + "' class='list_listByDatamining' data-id22='" + keywordId + "'>" +
                "<table border='0' width='100%'>"+
                "<tr>"+
                    "<td width='10%' colspan='6'>"+
                        "<div class='emergentGuide_listByDatamining' style='text-align:right; width:100%;' id='emergentGuide_listByDatamining" + keywordId + "' data-id3='" + keywordId + "'><br>"+
                        "</div>"+
                    "</td>"+
                "</tr>"+

                "<tr>"+
                    "<td width='60%'>"+
                    "<div id='name_listByDatamining" + keywordId + "'>"+keywordContent+
                    "</div>"+
                    "</td>"+

                    "<td width='10%'>"+
                        "<div id='play_listByDatamining" + keywordId + "' class='play_listByDatamining' data-id3='" + keywordId + "'>>"+
                        "</div>"+
                    "</td>"+

                    "<td width='10%'>"+
                        "<div id='openFrame_listByDatamining" + keywordId + "' class='openFrame_listByDatamining' data-id1='0' data-id2=0>+"+
                        "</div>"+
                        "<div id='closeFrame_listByDatamining" + keywordId + "' class='closeFrame_listByDatamining'>-"+
                        "</div>"+
                    "</td>"+

                    "<td width='10%'>"+
                        "<div id='delete_listByDatamining" + keywordId + "' class='delete_listByDatamining' data-id3='" + keywordId + "'>x"+
                        "</div>"+
                    "</td>"+

                "</tr>"+
                "</table>"+
            "</div>" +
        
            "<div id='videos_listByDatamining" + keywordId + "' class='videos_listByDatamining' data-id2='" + keywordId + "' >" +
                {#"<br>"+#}
            "</div>"+
        "</div>"
            
        );
        
        $('#list_listByDatamining'+keywordId)
        .mouseover(function () {
            var id = $(this).data('id22');

            var openFrame_listByDataminingId = "openFrame_listByDatamining"+id;
            var closeFrame_listByDataminingId = "closeFrame_listByDatamining"+id;
            var delete_listByDataminingId = "delete_listByDatamining"+id;
            var play_listByDataminingId = "play_listByDatamining"+id;

            var openFrame_listByDatamining = document.getElementById(openFrame_listByDataminingId);
            var closeFrame_listByDatamining = document.getElementById(closeFrame_listByDataminingId);
            var delete_listByDatamining = document.getElementById(delete_listByDataminingId);
            var play_listByDatamining = document.getElementById(play_listByDataminingId);

            openFrame_listByDatamining.style.opacity = 1;
            closeFrame_listByDatamining.style.opacity = 1;
            delete_listByDatamining.style.opacity = 1;
            play_listByDatamining.style.opacity = 1;

            var listId = "list_listByDatamining"+id;
            var list = document.getElementById(listId);

            list.style.backgroundColor = "rgba(255, 255, 255, 0.40)";
        })
        .mouseout(function () {
            var id = $(this).data('id22');

            var emergentGuideId = "emergentGuide_listByDatamining"+id;
            var emergentGuide = document.getElementById(emergentGuideId);
            emergentGuide.innerHTML = "<br>";

            var listId = "list_listByDatamining"+id;
            var list = document.getElementById(listId);
            list.style.backgroundColor = "transparent";

            var openFrame_listByDataminingId = "openFrame_listByDatamining"+id;
            var closeFrame_listByDataminingId = "closeFrame_listByDatamining"+id;
            var delete_listByDataminingId = "delete_listByDatamining"+id;
            var play_listByDataminingId = "play_listByDatamining"+id;

            var openFrame_listByDatamining = document.getElementById(openFrame_listByDataminingId);
            var closeFrame_listByDatamining = document.getElementById(closeFrame_listByDataminingId);
            var delete_listByDatamining = document.getElementById(delete_listByDataminingId);
            var play_listByDatamining = document.getElementById(play_listByDataminingId);

            openFrame_listByDatamining.style.opacity = 0;
            closeFrame_listByDatamining.style.opacity = 0;
            delete_listByDatamining.style.opacity = 0;
            play_listByDatamining.style.opacity = 0;
        });



        $('#play_listByDatamining'+keywordId)
        .mouseover(function () {
            var play_listByDataminingId = "play_listByDatamining"+keywordId;
            var play_listByDatamining = document.getElementById(play_listByDataminingId);

            var emergentGuide_listByDataminingId = "emergentGuide_listByDatamining"+keywordId;
            var emergentGuide_listByDatamining = document.getElementById(emergentGuide_listByDataminingId);

            emergentGuide_listByDatamining.innerHTML = "Play this list";
            play_listByDatamining.style.backgroundColor = "#1ab7ea";
            play_listByDatamining.style.opacity = 1;
        })
        .mouseout(function () {
            var play_listByDataminingId = "play_listByDatamining"+keywordId;
            var play_listByDatamining = document.getElementById(play_listByDataminingId);

            play_listByDatamining.style.backgroundColor = "transparent";
            play_listByDatamining.style.opacity = 0;
        })
        .click(function () {
        });


        $('#openFrame_listByDatamining'+keywordId)
        .mouseover(function () {
            var openFrame_listByDataminingId = "openFrame_listByDatamining"+keywordId;
            var openFrame_listByDatamining = document.getElementById(openFrame_listByDataminingId);

            var emergentGuide_listByDataminingId = "emergentGuide_listByDatamining"+keywordId;
            var emergentGuide_listByDatamining = document.getElementById(emergentGuide_listByDataminingId);

            emergentGuide_listByDatamining.innerHTML = "Hide this list";
            openFrame_listByDatamining.style.backgroundColor = "#1ab7ea";
            openFrame_listByDatamining.style.opacity = 1;
        })
        .mouseout(function () {
            var openFrame_listByDataminingId = "openFrame_listByDatamining"+keywordId;
            var openFrame_listByDatamining = document.getElementById(openFrame_listByDataminingId);

            openFrame_listByDatamining.style.backgroundColor = "transparent";
            openFrame_listByDatamining.style.opacity = 0;
        })
        .click(function () {
            var nextId = "videos_listByDatamining" + keywordId;
            var nextElement = document.getElementById(nextId);
 
            nextElement.style.maxHeight = "200px";

            buttonId = "openFrame_listByDatamining" + keywordId;
            buttonId2 = "closeFrame_listByDatamining" + keywordId;
            var currentButton = document.getElementById(buttonId);
            var currentButton2 = document.getElementById(buttonId2);
            currentButton.style.display = 'none';
            currentButton2.style.display = 'block';
            
            var firstClick_value = $('#openFrame_listByDatamining'+keywordId).data('id2');
            
            if(firstClick_value === 0)
            {
                $('#openFrame_listByDatamining'+keywordId).data('id2', 1);
                
                var videosAmount_value = $('#openFrame_listByDatamining'+keywordId).data('id1');
                get_Videos_KeywordUsers(keywordId, keywordContent, videosAmount_value);
                videosAmount_value+=10;
                $('#openFrame_listByDatamining'+keywordId).data('id1', videosAmount_value);
            }
        });


        $('#closeFrame_listByDatamining'+keywordId)
        .mouseover(function () {
            var closeFrame_listByDataminingId = "closeFrame_listByDatamining"+keywordId;
            var closeFrame_listByDatamining = document.getElementById(closeFrame_listByDataminingId);

            var emergentGuide_listByDataminingId = "emergentGuide_listByDatamining"+keywordId;
            var emergentGuide_listByDatamining = document.getElementById(emergentGuide_listByDataminingId);

            emergentGuide_listByDatamining.innerHTML = "Hide this list";
            closeFrame_listByDatamining.style.backgroundColor = "#1ab7ea";
            closeFrame_listByDatamining.style.opacity = 1;
        })
        .mouseout(function () {
            var closeFrame_listByDataminingId = "closeFrame_listByDatamining"+keywordId;
            var closeFrame_listByDatamining = document.getElementById(closeFrame_listByDataminingId);

            closeFrame_listByDatamining.style.backgroundColor = "transparent";
            closeFrame_listByDatamining.style.opacity = 0;
        })
        .click(function () {
            var nextId = "videos_listByDatamining" + keywordId;
            var nextElement = document.getElementById(nextId);

            nextElement.style.maxHeight = null;
            
            buttonId = "openFrame_listByDatamining" + keywordId;
            buttonId2 = "closeFrame_listByDatamining" + keywordId;
            var currentButton = document.getElementById(buttonId);
            var currentButton2 = document.getElementById(buttonId2);
            currentButton.style.display = 'block';
            currentButton2.style.display = 'none';
        });


        $('#delete_listByDatamining'+keywordId)
        .mouseover(function () {
            var delete_listByDataminingId = "delete_listByDatamining"+keywordId;
            var delete_listByDatamining = document.getElementById(delete_listByDataminingId);

            var emergentGuide_listByDataminingId = "emergentGuide_listByDatamining"+keywordId;
            var emergentGuide_listByDatamining = document.getElementById(emergentGuide_listByDataminingId);

            emergentGuide_listByDatamining.innerHTML = "Delete this list";
            delete_listByDatamining.style.backgroundColor = "#1ab7ea";
            delete_listByDatamining.style.opacity = 1;
        })
        .mouseout(function () {
            var delete_listByDataminingId = "delete_listByDatamining"+keywordId;
            var delete_listByDatamining = document.getElementById(delete_listByDataminingId);

            delete_listByDatamining.style.backgroundColor = "transparent";
            delete_listByDatamining.style.opacity = 0;
        })
        .click(function () {
        });

        $('#videos_listByDatamining'+keywordId)
        .scroll(function () {
            var id = $(this).data('id2');
            {#var firstResult_listByDatamining = $(this).data('id3'); // here pendiente#}
            
            var videos_listByDatamining_id = "videos_listByDatamining" + id;
    
            var videos_listByDatamining = document.getElementById(videos_listByDatamining_id);

            var a = videos_listByDatamining.scrollHeight;
            var b = videos_listByDatamining.scrollTop;
            var c = videos_listByDatamining.clientHeight;

            if (b+c === a)
            {
                var videosAmount_value = $('#openFrame_listByDatamining'+keywordId).data('id1');
                get_Videos_KeywordUsers(keywordId, keywordContent, videosAmount_value);
                videosAmount_value+=10;
                $('#openFrame_listByDatamining'+keywordId).data('id1', videosAmount_value);
            }
        })
        .mouseover(function () {
            var videos_listByDatamining = document.getElementById('videos_listByDatamining'+keywordId);
            videos_listByDatamining.classList.add("visibleScroll");
        })
        .mouseout(function () {
            var videos_listByDatamining = document.getElementById('videos_listByDatamining'+keywordId);
            videos_listByDatamining.classList.remove("visibleScroll");
        });
        
    }
    
    function get_Videos_KeywordUsers(keywordId, keywordContent, videosAmount_value) {#CRUD FUNCTION#}
    {
        var form = $('#get-videosPerKeywordUsers-ajax');
        var url = form.attr('action');

        $.post(url, {keywordId: keywordId, keywordContent: keywordContent, videosAmount_value: videosAmount_value}, function (data)
        {
            var keywordContent = data[0].keywordContent;
            var amountVideos = data[0].amountVideos;
            
            for (i = 0; i < amountVideos; i++)
            {
                var videoId = data[i].videoId;
                var videoName = data[i].videoName;
                var videoDescription = data[i].videoDescription;
                var videoImage = data[i].videoImage;
                var videoContent = data[i].videoContent;
                var videoUpdatedate = data[i].videoUpdatedate;
                var videoAmountViews = data[i].videoAmountViews;
                var videoAmountComments = data[i].videoAmountComments;
                var videoLikes = data[i].videoLikes;
                var videoDislikes = data[i].videoDislikes;
                var userId = data[i].userId;
                var userName = data[i].userName;
                var keywordId = data[i].keywordId;
                var keywordContent = data[i].keywordContent;
                var amountVideos = data[i].amountVideos;
                var amountKeywordUsers = 0;

                if (videoLikes === 0 && videoDislikes === 0)
                {
                   if (videoLikes === 0)
                   {
                       videoLikes = 1;
                   }
                   if (videoDislikes === 0)
                   {
                       videoDislikes = 1;
                   }
                }

                var percentageLikes = parseInt((100 * videoLikes)) / parseInt((videoLikes + videoDislikes));
                var percentageDislikes = parseInt((100 * videoDislikes)) / parseInt((videoLikes + videoDislikes));

                addVideoList(
                    videoId, 
                    videoName, 
                    videoDescription, 
                    videoImage, 
                    videoContent, 
                    videoUpdatedate, 
                    videoAmountViews, 
                    videoAmountComments, 
                    videoLikes, 
                    videoDislikes, 
                    userId, 
                    userName, 
                    amountVideos, 
                    amountKeywordUsers,
                    percentageLikes,
                    percentageDislikes,
                    keywordId,
                    keywordContent
                );
            }
            
        }).fail(function () {
            alert('ERROR get-videosPerKeywordUsers-ajax 11111');
        });
    }
    
    
    
    function addVideoList(
        videoId, 
        videoName, 
        videoDescription, 
        videoImage, 
        videoContent, 
        videoUpdatedate, 
        videoAmountViews, 
        videoAmountComments, 
        videoLikes, 
        videoDislikes, 
        userId, 
        userName, 
        amountVideos, 
        amountKeywordUsers,
        percentageLikes,
        percentageDislikes,
        keywordId,
        keywordContent) {#GUI FUNCTION#}
    {
        // superglobal_variable
        videoPosition_dataminingBundle++;
        
        $("#videos_listByDatamining"+keywordId+"").append(
            
            "<div id='respectlyVideo_listByDatamining"+keywordId+"_"+videoId+"' class='respectlyVideo_listByDatamining' "+
            
            " data-id1='"+videoId+"'"+
            " data-id2='"+videoName+"'"+
            " data-id3='"+videoDescription+"'"+
            " data-id4='"+videoImage+"'"+
            " data-id5='"+videoContent+"'"+
            " data-id6='"+videoUpdatedate+"'"+
            " data-id7='"+videoAmountViews+"'"+
            " data-id8='"+videoAmountComments+"'"+
            " data-id9='"+videoLikes+"'"+
            " data-id10='"+videoDislikes+"'"+
            " data-id11='"+userId+"'"+
            " data-id12='"+userName+"'"+
            " data-id13='"+amountVideos+"'"+
            " data-id14='"+percentageLikes+"'"+
            " data-id15='"+percentageDislikes+"'"+
            " data-id16='"+keywordId+"'"+
            " data-id17='"+videoPosition_dataminingBundle+"' >"+
            
                "<table border='0' width='100%' height='50px'>"+
                "<tr>"+
                "<td width='75px' height='50px'>"+
                    "<div id='videoImageFrame_listByDatamining"+keywordId+"_"+videoId+"' class='videoImageFrame_listByDatamining' data-id1='"+videoId+"' >"+
                    "<img class='videoImageContent_listByDatamining' src='files/"+videoImage+"' alt='Mountain View'>"+
                    "</div>"+
                "</td>"+
                "<td> "+
                    "<div id='videoName_listByDatamining"+keywordId+"_"+videoId+"' class='videoName_listByDatamining' data-id1='"+videoId+"' >"+
                    videoName+"<br>"+userName+
                    "</div>"+
                "</td>"+
                "</tr>"+
                "</table>"+
                
            "</div>"
        );
        
        $('#respectlyVideo_listByDatamining'+keywordId+"_"+videoId)
        .mouseover(function () {
            var videoId = $(this).data('id1');
            var keywordId = $(this).data('id16');
            document.getElementById("respectlyVideo_listByDatamining"+keywordId+"_"+videoId).style.backgroundColor = "rgba(255, 255, 255, 0.40)";
        })
        .click(function () {
            var videoId = $(this).data('id1');
            var videoName = $(this).data('id2');
            var videoDescription = $(this).data('id3');
            var videoImage = $(this).data('id4');
            var videoContent = $(this).data('id5');
            var videoUpdatedate = $(this).data('id6');
            var videoAmountViews = $(this).data('id7');
            var videoAmountComments = $(this).data('id8');
            var videoLikes = $(this).data('id9');
            var videoDislikes = $(this).data('id10');
            var userId = $(this).data('id11');
            var userName = $(this).data('id12');
            var amountVideos = $(this).data('id13');
            var percentageLikes = $(this).data('id14');
            var percentageDislikes = $(this).data('id15');
            var keywordId = $(this).data('id16');
            var videoPosition_dataminingBundle = $(this).data('id17');
            
            var kindOfList = "dataminingBundle";
            var listId = keywordId;
            var videoOrderPosition = videoPosition_dataminingBundle;
            
            showVideo(
                videoId,
                videoName,
                videoDescription,
                videoImage,
                videoContent,
                videoUpdatedate,
                videoAmountViews,
                videoAmountComments,
                videoLikes,
                videoDislikes,
                userId,
                userName,
                kindOfList,
                listId,
                videoOrderPosition
            );

        })
        .mouseout(function () {
            var videoId = $(this).data('id1');
            var keywordId = $(this).data('id16');
            document.getElementById("respectlyVideo_listByDatamining"+keywordId+"_"+videoId).style.backgroundColor = "transparent";
        }); 
        
        
    }
</script>



<script>

    $('#dataminingSongs_profile2')
    .scroll(function () {
        
        var dataminingSongs_profile2 = document.getElementById("dataminingSongs_profile2");

        var a = dataminingSongs_profile2.scrollHeight;
        var b = dataminingSongs_profile2.scrollTop;
        var c = dataminingSongs_profile2.clientHeight;
        
        if (b+c === a)
        {
            {#alert("fin");#}
            var keywordsAmount_value = $('#dataminingSongs_profile2').data('id1');
            get_KeywordUsers(keywordsAmount_value);
            keywordsAmount_value+=10;
            $('#dataminingSongs_profile2').data('id1', keywordsAmount_value);
        }
        
    })
    .mouseover(function () {
        var dataminingSongs_profile2 = document.getElementById("dataminingSongs_profile2");
        dataminingSongs_profile2.classList.add("visibleScroll");
    })
    .mouseout(function () {
        var dataminingSongs_profile2 = document.getElementById("dataminingSongs_profile2");
        dataminingSongs_profile2.classList.remove("visibleScroll");
    });
    
</script>